.homepage {
    img{
        height: 200px;
        border-radius: 50%;
    }
    .perfil {
        text-align: center;
    }

    .img2 {
        width: 400px;
    }
    .video {
        width: 400px;
    }
}